{% extends "base.html" %}

{% block titile %} {{ block.super }} Tweets {% endblock titile %}

{% block content %}

    <div class="row">

        <div class= "col-sm-8 col-sm-offset-2">
            {% if not request.GET.q %}
            <div class="row">
                {% include "tweets/function_form.html" with form=create_form action_url=create_url btn_title="Tweet" %}
            </div>
            {% endif %}
            <hr/>
            {% for object in object_list %}
            
                <div class="media">
                  {% if object.media %}
                  <img class="d-flex align-self-center mr-3" src="..." alt="Generic placeholder image">
                  {% endif %}
                  <div class="media-body">
                    <p>{{ object.content }}</p>
                    from <i> {{ object.user }}</i> | {{ object.timestamp|timesince }} ago | <a href="{{ object.get_absolute_url }}"> view </a></p>
                  </div>
                </div>
            <hr/>
            {% empty %}
                {% if request.GET.q %}
                <p>No tweets found!</p>
                {% else %}
                <p>No tweets yet!</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{%  endblock content %}