{% extends "base.html" %}

{% block titile %} {{ block.super }} Tweets {% endblock titile %}

{% block script %}

<script type="text/javascript">

    function attachTweets(tweetdata, prepend){
        var tweet_user = tweetdata.user;
        var date_display = tweetdata.date_display;
        var tweet_since = tweetdata.timesince;
        var tweet_content = tweetdata.content;
        var tweet_format_html = '<div class="media">\
                              <div class="media-body">\
                                <p>' + tweet_content + '</p>\
                                from <i>' + tweet_user.username + '</i> | ' + tweet_since + ' | <a href="#"> view </a></p>\
                              </div>\
                            </div>\
                            <hr/>';
        if(prepend == true){
            $('#tweet-container').prepend(tweet_format_html)
        }else{
            $('#tweet-container').append(tweet_format_html)
        }
    
    }

    function getParameterByName(name, url) {
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function parseTweet(data){
        if(data == 0){
            $('#tweet-container').append(
                '<p>No tweets found!</p>'
            )
        }else{
            $.each(data, function(key, value){
                var tweet_key = value.key;
                attachTweets(value)
            })
        }
    }

    $(document).ready(function(){
        console.log("Document Ready Function Working!");

        var query = getParameterByName('q');

        function fetchTweets(){
            console.log("Fetching..");
            $.ajax({
                url: "/api/tweet/",
                data:{
                    "q" : query
                },
                method: "GET",
                success: function(data){
                    // attachTweets(data, true)
                    // console.log(data);
                    parseTweet(data); 
                },
                error: function(data){
                    console.log("Error");
                    console.log(data);
                }
            })
        }

        fetchTweets()
        var char_limit = 140;
        var char_current = 0;

        $("#tweet-form").append("<span id='tweet_chars_left'>" + char_limit + "</span>")

        $("#tweet-form textarea").keyup(function(event){
            var tweetContent = $(this).val()
            char_current = char_limit - tweetContent.length
            $("#tweet_chars_left").text(char_current)

            // To change the color of count downer
            var span_chars = $('#tweet_chars_left')
            if(char_current > 0){
                span_chars.removeClass('gray-color')
                span_chars.removeClass('red-color')
            }else if(char_current == 0){
                span_chars.removeClass('red-color')
                span_chars.addClass('gray-color')
            }else if(char_current < 0){
                span_chars.removeClass('gray-color')
                span_chars.addClass('red-color')
            }
            
        })

        $("#tweet-form").submit(function(event){
            event.preventDefault()

            var this_ = $(this)
            var formData = this_.serialize()

            if(char_current > -1){
                $.ajax({
                    url: "/api/tweet/create/",
                    data:formData,
                    method: "POST",
                    success: function(data){
                        this_.find("input[type=text], textarea").val("")
                        attachTweets(data, true)
                        // fetchTweets()  
                    },
                    error: function(data){
                        console.log("Error")
                        console.log(data)
                    }
                })
            }else{
                console.log("Can not send, tweet too long.")
            }
            

            
        })
    });


    
</script>

{% endblock script %}

{% block content %}



    <div class="row">

        <div class= "col-sm-8 col-sm-offset-2">
            {% if not request.GET.q %}
            <div class="row">
                {% include "tweets/function_form.html" with form=create_form action_url=create_url btn_title="Tweet" form_id='tweet-form' %}
            </div>
            {% endif %}
            <hr/>

            <div id="tweet-container">
    

            </div>
            <!-- {% for object in object_list %}
            
                <div class="media">
                  {% if object.media %}
                  <img class="d-flex align-self-center mr-3" src="..." alt="Generic placeholder image">
                  {% endif %}
                  <div class="media-body">
                    <p>{{ object.content }}</p>
                    from <i> {{ object.user }}</i> | {{ object.timestamp|timesince }} ago | <a href="{{ object.get_absolute_url }}"> view </a></p>
                  </div>
                </div>
            <hr/>
            {% empty %}
                {% if request.GET.q %}
                <p>No tweets found!</p>
                {% else %}
                <p>No tweets yet!</p>
                {% endif %}
            {% endfor %} -->
        </div>
    </div>
{%  endblock content %}