{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-sm-3" >
        <h1>{{ object.username }}</h1>
        <p>Followers : {{ object.followed_by.count }}</p>
    </div>
    <div class="col-sm-9">
        <h1>Tweets</h1> 
        <br/>
        {% for tweets in object.tweet_set.all %}
        {{ tweets }}
        <br/>
        {% endfor %}

        <h1>Following</h1> 
        <br/>
        {% for user in object.profile.following.all %}
        <a href="/{{ user.username }}">{{ user.username }}</a>
        <br/>
        {% empty %}
        <h4>Currently Not Following Anyone.</h4>
        {% endfor %}

        <h1>Follower</h1> 
        <br/>
        {% for profile in object.followed_by.all %}
        <a href="/{{ profile.user.username }}">{{ profile.user.username }}</a>
        <br/>
        {% empty %}
        <h4>Currently Not is Followed by Anyone.</h4>
        {% endfor %}
    </div>
</div>
    
{% endblock content %}